<div class="calendar-header">
  <!-- Date Input -->
  <div class="date-input-container">
    <pelu-button
      icon="pi pi-calendar"
      label="COMMON.TIME.TODAY"
      (clicked)="emitToday()"
    />
    <pelu-input-date
      [value]="currentViewDate()"
      [dateFormat]="'dd/mm/yy'"
      [showIcon]="true"
      [showButtonBar]="true"
      [inline]="false"
      [minDate]="todayDate()"
      [preventPastMonths]="true"
      (valueChange)="onDateChange($event)"
    >
    </pelu-input-date>
  </div>

  <div class="calendar-title">
    <div class="title-main">{{ mainTitle() }}</div>
    <div class="title-info">{{ viewDateInfo() }}</div>
    <div class="title-config">{{ businessDaysInfo() }}</div>
  </div>
</div>
