<div class="input-password-container">
  <!-- Label -->
  @if (label() && label().trim()) {
    <label
      [for]="getElementId()"
      class="input-password-label"
      [class.required]="required()">
      {{ label() | translate }}
    </label>
  }

  <!-- PrimeNG Password -->
  <div class="password-wrapper">
    <p-password
      [inputId]="getElementId()"
      [placeholder]="displayPlaceholder() | translate"
      [disabled]="isDisabled()"
      [required]="required()"
      [size]="size()"
      [variant]="variant()"
      [invalid]="invalid()"
      [fluid]="fluid()"
      [feedback]="feedback()"
      [toggleMask]="toggleMask()"
      [promptLabel]="promptLabel() | translate"
      [weakLabel]="weakLabel() | translate"
      [mediumLabel]="mediumLabel() | translate"
      [strongLabel]="strongLabel() | translate"
      [ngModel]="value()"
      (ngModelChange)="onPasswordChange($event)"
      (onBlur)="onPasswordBlur()"
      autocomplete="off"
    >
    </p-password>
  </div>
</div>
