<div class="flex items-center gap-2">
  @if (size()) {
    <p-checkbox
      [inputId]="getElementId()"
      [binary]="true"
      [disabled]="isDisabled()"
      [invalid]="invalid()"
      [size]="size()!"
      [variant]="variant()"
      [ngModel]="value()"
      (ngModelChange)="onCheckboxChange($event)"
    />
  } @else {
    <p-checkbox
      [inputId]="getElementId()"
      [binary]="true"
      [disabled]="isDisabled()"
      [invalid]="invalid()"
      [variant]="variant()"
      [ngModel]="value()"
      (ngModelChange)="onCheckboxChange($event)"
    />
  }
  <label [for]="getElementId()" class="checkbox-label">
    {{ label() | translate }}
  </label>
</div>
