<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">{{ config().title }}</h2>
    <p class="auth-subtitle">{{ config().subtitle }}</p>

    @if (form()) {
      <form [formGroup]="form()!" (ngSubmit)="onSubmit()" class="auth-form">
        <div class="form-field">
          <pelu-input-text
            label='COMMON.EMAIL'
            placeholder='COMMON.EMAIL'
            type='email'
            formControlName="email"
          >
          </pelu-input-text>
        </div>

        <div class="form-field">
          <pelu-input-text
            label="COMMON.PASSWORD"
            placeholder="COMMON.PASSWORD"
            type="password"
            formControlName="password"
            (input)="onPasswordChange($event)"
          >
          </pelu-input-text>
        </div>

        @if (hasRepeatPassword()) {
          <div class="form-field">
            <pelu-input-password
              label="COMMON.REPEAT_PASSWORD"
              placeholder="COMMON.REPEAT_PASSWORD"
              type="password"
              formControlName="repeatPassword"
              (input)="onRepeatPasswordChange($event)"
            >
            </pelu-input-password>
          </div>
        }

        <button pButton type="submit" class="auth-button" [disabled]="form()!.invalid">
          {{ config().submitButtonText }}
        </button>
      </form>
    }

    <div class="divider">
      <span>{{ 'COMMON.OR' | translate }}</span>
    </div>

    <button
      pButton
      type="button"
      [label]="config().googleButtonText"
      icon="pi pi-google"
      class="google-auth-button"
      (click)="onGoogleAuth()"
    >
      {{ config().googleButtonText }}
    </button>

    <div class="auth-link">
      <p>
        {{ config().linkText }}
        <a [routerLink]="config().linkRoute" class="link">{{ config().linkLabel }}</a>
      </p>
    </div>
  </div>
</div>
