<div class="filters-inline">
  <div class="filters-grid">
    <div class="filter-group">
      <pelu-input-date
        [config]="dateFilterConfig"
        [value]="filterDateValue()"
        (valueChange)="onDateChangeHandler($event)"
      >
      </pelu-input-date>
    </div>
    <div class="filter-group">
      <pelu-input-text
        [config]="clientFilterConfig"
        [value]="filterClientValue()"
        (valueChange)="onClientChangeHandler($event.toString())"
      >
      </pelu-input-text>
    </div>
    <div class="filter-group">
      <pelu-input-select
        [config]="serviceFilterConfig()"
        [value]="filterServiceValue()"
        (valueChange)="onServiceChangeHandler($event)"
      >
      </pelu-input-select>
    </div>
    <div class="reset-group">
      <button class="reset-btn" (click)="onResetHandler()">
        {{ 'COMMON.FILTERS.CLEAR_FILTERS_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
