<div class="filters-inline">
  <div class="filters-grid">
    <div class="filter-group">
      <label for="filterDate">{{ 'COMMON.FILTERS.FILTER_BY_DATE' | translate }}</label>
      <input
        type="date"
        id="filterDate"
        [value]="filterDateValue()"
        (input)="onDateChangeHandler($any($event.target).value)"
        class="input">
    </div>
    <div class="filter-group">
      <label for="filterClient">{{ 'COMMON.FILTERS.FILTER_BY_CLIENT' | translate }}</label>
      <input
        type="text"
        id="filterClient"
        [value]="filterClientValue()"
        (input)="onClientChangeHandler($any($event.target).value)"
        [placeholder]="'COMMON.SEARCH.SEARCH_BY_NAME' | translate"
        class="input">
    </div>
    <div class="filter-group">
      <label for="filterService">{{ 'COMMON.FILTERS.FILTER_BY_SERVICE' | translate }}</label>
      <p-select
        id="filterService"
        [options]="serviceOptions()"
        [ngModel]="filterServiceValue()"
        (ngModelChange)="onServiceChangeHandler($event)"
        optionLabel="label"
        optionValue="value"
        [placeholder]="'COMMON.SELECTION.SELECT_SERVICE' | translate"
        class="service-dropdown">
        <ng-template pTemplate="selectedItem" let-option>
          @if (option.color) {
            <div class="service-option-selected">
              <span class="service-color-dot" [style.background]="option.color"></span>
              <span>{{ option.label }}</span>
            </div>
          } @else {
            <span>{{ option.label }}</span>
          }
        </ng-template>
        <ng-template pTemplate="item" let-option>
          @if (option.color) {
            <div class="service-option">
              <span class="service-color-dot" [style.background]="option.color"></span>
              <span>{{ option.label }}</span>
            </div>
          } @else {
            <span>{{ option.label }}</span>
          }
        </ng-template>
      </p-select>
    </div>
    <div class="reset-group">
      <button class="reset-btn" (click)="onResetHandler()">
        {{ 'COMMON.FILTERS.CLEAR_FILTERS_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
