<div class="filters-inline">
  <div class="filters-grid">
    <div class="filter-group">
      <label for="filterDate">{{ 'COMMON.FILTER_BY_DATE' | translate }}</label>
      <input
        type="date"
        id="filterDate"
        [value]="filterDateValue()"
        (input)="onDateChangeHandler($any($event.target).value)"
        class="input">
    </div>
    <div class="filter-group">
      <label for="filterClient">{{ 'COMMON.FILTER_BY_CLIENT' | translate }}</label>
      <input
        type="text"
        id="filterClient"
        [value]="filterClientValue()"
        (input)="onClientChangeHandler($any($event.target).value)"
        [placeholder]="'COMMON.SEARCH_BY_NAME' | translate"
        class="input">
    </div>
    <div class="reset-group">
      <button class="reset-btn" (click)="onResetHandler()">
        {{ 'COMMON.CLEAR_FILTERS_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
