<div class="appointment"
     [style.top.px]="data().top"
     [style.height.px]="data().height"
     [style.left.px]="0"
     [style.right.px]="0"
     (click)="onAppointmentClick($event)">
  <div class="appointment-content">
    <div class="appointment-title">{{ data().appointment.title }}</div>
    @if (data().appointment.serviceName) {
      <div class="appointment-service">{{ data().appointment.serviceName }}</div>
    }
    <div class="appointment-duration">{{ formatDuration(data().appointment.duration || 60) }}</div>
  </div>
</div>
