@if (hasPopups()) {
<div class="popup-stack-overlay" (click)="onBackdropClick($event)">
  @for (popup of popups(); track popup.id; let i = $index) {
  <div class="popup-container"
       [style]="getPopupStyle(i)"
       [class.closing]="isClosing(popup.id)">
    <div class="popup-content">
      @if (isFiltersPopup(popup)) {
        <pelu-filters-popup
          [filterButtons]="popup.data.filterButtons"
          [filterDate]="popup.data.filterDate"
          [filterClient]="popup.data.filterClient"
          [showAdvancedFilters]="popup.data.showAdvancedFilters"
          [onFilterClick]="popup.onFilterClick"
          [onDateChange]="popup.onDateChange"
          [onClientChange]="popup.onClientChange"
          [onReset]="popup.onReset"
          [onToggleAdvanced]="popup.onToggleAdvanced">
        </pelu-filters-popup>
      } @else {
        <ng-container [ngComponentOutlet]="popup.content" [ngComponentOutletInputs]="getComponentInputs(popup)">
        </ng-container>
      }
    </div>
  </div>
  }
</div>
}
